    <!----------------------------- Footer Part --------------------------------------->
<div class="footer">
    <div class="f1">
        <h4>Company</h4>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Affiliate Program</a></li>
        </ul>
    </div>

    <div class="f1">
        <h4>Quick Links</h4>
        <ul>
            
            <li><a href="/">Home</a></li>
            <li><a href="/view_page.html">Shop All</a></li>
            <li><a href="/laptop_view">Laptop</a></li>
            <li><a href="/mobile_view">Mobile</a></li> 
            <li><a href="/drones_view">Drone & Cameras</a></li> 
            <li><a href="/tv_view">T.V & Home Cinema</a></li>
            <li><a href="/watch_view">Smart Watch</a></li>
        </ul>
    </div>
    
    <div class="f1">
        <h4>Get Help</h4>
        <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Oreder Status</a></li>
            <li><a href="/show/:id/payments">Payment Options</a></li>
        </ul>
    </div>
    <div class="f1">
        <h4>Online Shop</h4>
        <ul>
            <li><a href="/laptop_view">Laptop</a></li>
            <li><a href="/mobile_view">Mobile</a></li>
            <li><a href="/drones_view">Drone & Cameras</a></li>
            <li><a href="/watch_view">Watch</a></li>
            <li><a href="/tv_view">T.V</a></li>
            
        </ul>
    </div>
    <div class="f1" id="Smedia">
        <h4>Social Media</h4>
        <a href="https://youtube.com/@big_dream_programmer?si=3r8fI9Mh2rUeflR6"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100035428518146"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/big_dream_programmer/ "><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/sujeet-kumar-6609392b8?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </div>
</div>
<!------------------ End of Footer Part ---------------------------->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/index.js"></script>
<script src="/view_page.js"></script>
<script src="/buy_page.js"></script>
</body>
</html>